@use "../variables" as *;
@use "../media" as *;

.btn {
  width: max-content;
  border-radius: 40px;
  padding: 16px 24px;
  background-color: $carrot;
  color: $light;
  font-weight: 700;
  text-align: center;
  outline: 1px solid transparent;
  transition-property: background-color, transform;
  transition-duration: 0.3s, 0.1s;
  transition-timing-function: ease-in-out;

  &_arrow {
    display: flex;
    align-items: center;
    gap: 4px;

    &:after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: url("/img/arrow-to-store.svg") no-repeat center/contain;
    }
  }

  &:hover {
    background: #e76b23;
  }

  &:focus-visible {
    outline-color: $carrot;
  }

  &:active {
    transform: scale(0.9);
  }

  &_green {
    background-color: $green;

    &:hover {
      background: #00772f;
    }

    &:focus-visible {
      outline-color: $carrot;
    }
  }

  &_purple {
    background-color: $purple;

    &:hover {
      background: #981fd1;
    }

    &:focus-visible {
      outline-color: $carrot;
    }
  }

  @include laptop {
    padding: 16px 36px;
  }

  @include mobile {
    padding: 11px 24px;
  }
}
